<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Schaumburg Web Design, IT Support &amp; Computer Services | Links Technology Solutions, Inc.
</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"><!-- End Bootstrap -->
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/links.min.css">

        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
        <![endif]--><!-- End <head> scripts, more before </body> -->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

{module_contentholder,100671}

        <section class="carousel slide" data-ride="carousel" id="main-slideshow">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#main-slideshow"></li>
                <li data-slide-to="1" data-target="#main-slideshow"></li>
                <li data-slide-to="2" data-target="#main-slideshow"></li>
                <li data-slide-to="3" data-target="#main-slideshow"></li>
                <li data-slide-to="4" data-target="#main-slideshow"></li>
            </ol><!-- End indicators -->

            <div class="carousel-inner">
                <div class="item active">
                    <img alt="" height="500" src="img/gold-medal-runner.jpg" width="1400">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Our people define success.</h1>
                            <p>Learn how our IT Staffing can bring you HR success.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">IT support</a></p>
                        </div>
                    </div>
                </div><!-- End first slide -->

                <div class="item">
                    <img alt="" height="500" src="img/surfing.jpg" width="1400">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Don't surf the web,<br>Make waves.</h1>
                            <p>Learn how we can help you better engage your customers.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Web design</a></p>
                        </div>
                    </div>
                </div><!-- End second slide -->

                <div class="item">
                    <img alt="" height="500" src="img/gold-medal-runner.jpg" width="1400">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Our people define success.</h1>
                            <p>Learn how our IT Staffing can bring you HR success.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Development</a></p>
                        </div>
                    </div>
                </div><!-- End third slide -->
                
                <div class="item">
                    <img alt="" height="500" src="img/surfing.jpg" width="1400">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Don't surf the web,<br>Make waves.</h1>
                            <p>Learn how we can help you better engage your customers.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">App development</a></p>
                        </div>
                    </div>
                </div><!-- End fourth slide -->

                <div class="item">
                    <img alt="" height="500" src="img/gold-medal-runner.jpg" width="1400">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Our people define success.</h1>
                            <p>Learn how our IT Staffing can bring you HR success.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">TariffShark eTariff software</a></p>
                        </div>
                    </div>
                </div><!-- End fifth slide -->
            </div><!-- End slides -->

            <a class="left carousel-control" href="#main-slideshow" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#main-slideshow" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </section><!-- End slideshow -->

        <div class="container marketing">
<!-- 
Required page content holder tag
-->
{tag_pagecontent}
            <section class="row">
                <article class="col-lg-4">
                    <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
                    <h2>IT Support</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                    <p><a class="btn btn-primary" href="#" role="button">Read more &raquo;</a> <a class="btn btn-default" href="#" role="button">Success stories &raquo;</a></p>
                </article>

                <article class="col-lg-4">
                    <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
                    <h2>Web Design</h2>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                    <p><a class="btn btn-primary" href="#" role="button">Read more &raquo;</a> <a class="btn btn-default" href="#" role="button">Portfolio &raquo;</a></p>
                </article>

                <article class="col-lg-4">
                    <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
                    <h2>IT Staffing</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-primary" href="#" role="button">Read more &raquo;</a></p>
                </article>
            </section><!-- End three columns of text below the carousel -->

            <hr class="featurette-divider">
            <section class="row featurette">
                <article class="col-md-7">
                    <h2 class="featurette-heading">Pinewood Derby Runner-Up</h2>
                    <p class="lead">We finished just thousandths of a second from winning the SBA's inaugural Pinewood Derby! Oh well, great networking, great event.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Read more &raquo;</a> <a class="btn btn-default btn-lg" href="#" role="button">Full blog &raquo;</a></p>
                </article>

                <div class="col-md-5">
                    <img alt="Second place at the SBA Pinewood Derby" class="featurette-image img-circle img-responsive" src="img/pinewood-derby-2nd-place.jpg">
                </div>
            </section><!-- End blog -->

            <hr class="featurette-divider">
            <section class="row featurette">
                <div class="col-md-5">
                    <img alt="Meet our staff." class="featurette-image img-circle img-responsive" src="img/links-technology-staff-collage.jpg">
                </div>
                <article class="col-md-7">
                    <div class="carousel slide" data-ride="carousel" id="quotes">
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#quotes"></li>
                            <li data-slide-to="1" data-target="#quotes"></li>
                            <li data-slide-to="2" data-target="#quotes"></li>
                        </ol><!-- End indicators -->

                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <p>&ldquo;Links rescued us from a technology mess. Amazing people, amazing service.&rdquo;</p><p class="source">- John Doe, Acme Industries<br>(IT Support customer)</p>
                                        <p><a class="btn btn-lg btn-primary" href="#" role="button">IT Support</a> <a class="btn btn-lg btn-default" href="#" role="button">Meet our staff</a></p>
                                    </div>
                                </div>
                            </div><!-- End first slide -->

                            <div class="item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <p>&ldquo;Links rescued us from a technology mess. Amazing people, amazing service.&rdquo;</p><p class="source">- John Doe, Acme Industries<br>(IT Support customer)</p>
                                        <p><a class="btn btn-lg btn-primary" href="#" role="button">IT Support</a> <a class="btn btn-lg btn-default" href="#" role="button">Meet our staff</a></p>
                                    </div>
                                </div>
                            </div><!-- End second slide -->

                            <div class="item">
                                <div class="container">
                                    <div class="carousel-caption">
                                        <p>&ldquo;Links rescued us from a technology mess. Amazing people, amazing service.&rdquo;</p><p class="source">- John Doe, Acme Industries<br>(IT Support customer)</p>
                                        <p><a class="btn btn-lg btn-primary" href="#" role="button">IT Support</a> <a class="btn btn-lg btn-default" href="#" role="button">Meet our staff</a></p>
                                    </div>
                                </div>
                            </div><!-- End third slide -->
                        </div><!-- End slides -->
                    </div><!-- End slideshow -->
                </article>
            </section><!-- End quotes -->

            <hr class="featurette-divider"><!-- End featurettes -->

            <footer>
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>&copy; 2013 Links Technology Solutions, Inc. All right reserved.</p>
                <p>440 E State Pkwy, Schaumburg, IL 60173 (847-252-7600)</p>
            </footer><!-- End footer -->
        </div><!-- End main content container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script><!-- End jQuery -->

        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script><!-- End Bootstrap -->

        <script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.js"></script><!-- End Holder, to be removed -->

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script><!-- End Google Analytics --><!-- End scripts -->
    </body>
</html>
